@model UNagi.ViewModel.MaestrosDetailsViewModel

<p class="main">Detalles de @Model.maestro.Nombre @Model.maestro.Apellido</p>

<table>
    <tr>
        <td><label>Email</label></td>
        <td><label>@Model.maestro.Email</label></td>
    </tr>
    <tr>
        <td><label>Nombre</label></td>
        <td><label>@Model.maestro.Nombre</label></td>
    </tr>
    <tr>
        <td><label>Apellido</label></td>
        <td><label>@Model.maestro.Apellido</label></td>
    </tr>
    <tr>
        <td><label for="contraseñaActual">Contraseña actual</label></td>
        <td><input type="password" name="contraseña" id="contraseñaActual" /></td>
    </tr>
    <tr>
        <td><label for="contraseñaNueva">Contraseña actual</label></td>
        <td><input type="password" name="contraseñaNueva" id="contraseñaNueva" /></td>
    </tr>
    <tr>
        <td><label for="contraseñaNueva2">Contraseña actual</label></td>
        <td><input type="password" name="contraseñaNueva2" id="contraseñaNueva2" /></td>
    </tr>
</table>

<button class="h2" id="@Model.maestro.Id" onclick="UpdateMaestro(this);">Cambiar contraseña</button>