@model UNagi.ViewModel.AlumnoDetailsViewModel

<p class="main">Detalles de @Model.alumno.Nombre @Model.alumno.Apellido</p>

<table>
    <tr>
        <td><label>Matricula</label></td>
        <td><label>@Model.alumno.Matricula</label></td>
    </tr>
    <tr>
        <td><label>Nombre</label></td>
        <td><label>@Model.alumno.Nombre</label></td>
    </tr>
    <tr>
        <td><label>Apellido</label></td>
        <td><label>@Model.alumno.Apellido</label></td>
    </tr>
    <tr>
        <td><label for="contraseñaActual">Contraseña actual</label></td>
        <td><input type="password" name="contraseña" id="contraseñaActual" /></td>
    </tr>
    <tr>
        <td><label for="contraseñaNueva">Contraseña actual</label></td>
        <td><input type="password" name="contraseñaNueva" id="contraseñaNueva" /></td>
    </tr>
    <tr>
        <td><label for="contraseñaNueva2">Contraseña actual</label></td>
        <td><input type="password" name="contraseñaNueva2" id="contraseñaNueva2" /></td>
    </tr>
</table>

<button class="h2" id="@Model.alumno.Id" onclick="UpdateAlumno(this);">Cambiar contraseña</button>